:root{
    --main-color: rgb(91, 91, 243);
    --second-color: #fa7878;
    --gap: 16px;
    --maxw:1400px;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
}

h1,h2,h3{
    font-family: "Roboto", sans-serif;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

#galeria{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    max-width: var(--maxw);
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: center;
}

#galeria img{
    flex: 1 1 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

@media (min-width:768px){
    #galeria img{
        flex-basis: calc(50% - var(--gap));
    }
}

@media (min-width:1440px){
    #galeria img{
        flex-basis: calc(25% - var(--gap));
    }
}